apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-to-apiserver
  namespace: "{{ monitoring_namespace }}"
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: promtail
  policyTypes:
    - Egress
  egress:
    - to:
        - ipBlock:
            cidr: "{{ cluster_platform_apiserver_ip }}/32"
      ports:
        - protocol: TCP
          port: {{ cluster_platform_apiserver_port }}
