apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-to-app
  namespace: "{{ monitoring_namespace }}"
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: prometheus
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: "{{ platform_namespace }}"
      ports:
        - protocol: TCP
          port: {{ platform_app_port }}
