apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: platform-developer-binding
  namespace: "{{ platform_namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: platform-developer
subjects:
  - kind: Group
    name: "{{ platform_developer_group }}"
    apiGroup: rbac.authorization.k8s.io
