apiVersion: v1
kind: ResourceQuota
metadata:
  name: platform-quota
  namespace: "{{ platform_namespace }}"
spec:
  hard:
    requests.cpu: "{{ platform_quota_requests_cpu }}"
    requests.memory: "{{ platform_quota_requests_memory }}"
    limits.cpu: "{{ platform_quota_limits_cpu }}"
    limits.memory: "{{ platform_quota_limits_memory }}"
    pods: "{{ platform_quota_max_pods }}"
